
/* body{
    background-color: lightblue;  
} */

.bgm{
position: absolute;
width: 100%;
height: 850px;
left: -2px;
top: 599px;

background: #4D4D51;
;
border-radius: 6px;
}
.heading{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    /* identical to box height */
padding-left: 5px;    
    color: #EF6637;
}
.head{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    /* identical to box height */
    color: #ffffff;
}
.align{
    padding-left: 100px;

}
.ins{
    display: flex;
    flex-direction: row;
  padding-left: 80px;
  margin-top: 35px;
  margin-bottom: -40px;
}
.content{
    position: absolute;
    width: 100%;
    height: 64px;
    left: 99px;
}
.txt{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
word-spacing: 5px;
text-align: justify;

color: #FFFFFF;
}
.h1-tag{
    color: #FFFFFF;
}
.bgm2{
    background: #000000;
}
.float{
    position: absolute;
width: 30%;
height: 300px;
left: 99px;
top: 1400px;

background: #1C2528;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}

.bgm3{
    display: flex;
    flex-direction: row;
    position: absolute;
width: 1000%;
height: 469px;
left: -1px;
top: 1850px;

background:#4D4D51;
}

.card{
position: relative;
width: 25%;
height: 324px;
left: 195px;
top: 100px;
background: #1C2528;
box-shadow: 0px 2px 60px rgba(0, 0, 0, 0.2);
border-radius: 6px;
margin: 30px;
}